.cont {
    max-width: 900px;
    width: 50vw;
    height: 80px;
    border: 2px solid #FFF;
    border-radius: 7px;
    background: linear-gradient(90deg, #044930 0%, #00B501 50.52%, #044930 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    .left {
        width: 100px;
        height: 100%;
        border-right: 2px solid #FFF;
        border-top: 2px solid #FFF;
        border-bottom: 2px solid #FFF;
        border-radius: 7px;
        .nominale {
            width: 100%;
            height: 100%;
            .selected {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .item {
                    flex: 3;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    span {
                        color: #FFF;
                        font-family: 'Gilroy-Heavy';
                        text-align: center;
                        &.nominaleText {
                            font-size: 25px;
                        }
                        &.currencyText {
                            font-size: 15px;
                        }
                    }
                }
                .arrow {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    cursor: pointer;
                    .icon {
                        width: 25px;
                        height: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-image: url('../../../assets/images/icons/arrow_down.svg');
                    }
                }
            }
            .dropdown {
                width: 100px;
                height: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background: linear-gradient(90deg, #044930 0%, #00B501 50.52%, #044930 100%);
                overflow: hidden;
                opacity: 0;
                border: none;
                transition: all 0.3s;
                margin-top: 5px;
                .item {
                    width: 100px;
                    height: 40px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    cursor: pointer;
                    span {
                        color: #FFF;
                        font-family: 'Gilroy-Heavy';
                        text-align: center;
                        &.nominaleText {
                            font-size: 20px;
                        }
                    }
                }
                &.open {
                    height: auto;
                    opacity: 1;
                    border: 2px solid #FFF;
                    border-radius: 7px;
                }
            }
        }
    }
    .right {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .item {
            flex: 1;
            font-family: 'Gilroy-Regular';
            color: #FFF;
            font-size: 20px;
            .value {
                font-size: 22px;
                font-family: 'Gilroy-Heavy';
            }
        }
    }
}