/* You can add global styles to this file, and also import other style files */
@import './assets/variables.scss';
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url(//db.onlinewebfonts.com/c/03064356c75fa5724311add92fe92b0f?family=Gilroy+Black);

* {
    padding: 0;
    margin: 0;
    user-select: none;
}
body {
    background-color: $main_background;
}

// font-family: 'Gilroy-Bold', sans-serif;
// font-family: 'Gilroy-Heavy', sans-serif;
// font-family: 'Gilroy-Light', sans-serif;
// font-family: 'Gilroy-Medium', sans-serif;
// font-family: 'Gilroy-Regular', sans-serif;